<div class="app" *ngIf="isLoading">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<div
  class="loader-container"
  *ngIf="!isLoading"
  [ngStyle]="{ backgroundColor: '#feeae6' }"
>
  <span class="loader"></span>
</div>
<div *ngIf="alertMessages.length != 0" class="alert-container">
  <app-alert
    *ngFor="let alertMessage of alertMessages"
    [message]="alertMessage"
    [type]="'error'"
  ></app-alert>
</div>

<div class="success-container" *ngIf="successMessages != ' '">
  <app-alert [message]="successMessages" [type]="'success'"></app-alert>
</div>
