<div class="container">
  <h1 class="text-center mb-5">Your Wish List</h1>
  <div class="no-wishlist-container" *ngIf="wishlistProducts.length === 0">
    <div class="content text-center" *ngIf="!isLoading">
      <P class="text-center no-wishlist-p"
        >You have no products in your wish list!</P
      >
      <a class="text-center no-wishlist-link" routerLink="/products"
        >Add a product</a
      >
    </div>
  </div>

  <div class="wishlist-container">
    <div class="loader-container" *ngIf="isLoading">
      <div class="lds-circle"><div></div></div>
    </div>
    <table class="table table-hover mt-5" *ngIf="wishlistProducts.length > 0">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of wishlistProducts">
          <th scope="row">
            <img [src]="product.imageCover" alt="" class="img-fluid w-25" />
          </th>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td class="text-center action-container">
            <i
              class="fa-solid fa-heart"
              (click)="removeFromWishlist(product._id)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
